body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}
#app {
  padding: 20px;
}
.light {
  color: black;
  background-color: white;
}

.skills {
  display: flex;
  border: 1px solid black;
}
.skills div {
  border: 1px solid black;
}
.mode {
  position: absolute;
  right: 10px;
}
.dark {
  color: white;
  background-color: black;
}
.dark a {
  color: palevioletred;
}
